* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 750px;
    margin: auto;
    font-family: sans-serif;
    background-attachment: fixed;
    height: 100%;
    background: linear-gradient(antiquewhite, lightblue);
    min-height: 200px;
    min-height: 80vh;

}

body {
    background-color: lightblue;
    margin: auto;
    margin-top: 10px;
    border-bottom: solid #7798b1;
    border-right: solid #7798b1;
    border-left: solid #c8e7f2;
    border-top: solid #c8e7f2;
    max-width: 80vw;
}

#boxes-container {
    
    max-width: 600px;
    height: 80px;
    max-height: 80%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px 5px 0px 0px;
}

#left-box, #right-box {
    margin: auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 5px;
    height: 55px;
    border-top: solid #7798b1;
    border-left: solid #7798b1;
    border-right: solid #c8e7f2;
    border-bottom: solid #c8e7f2;
    background: linear-gradient(30deg, #f2f3f4, #c8e7f2);
}

#left-box {
    margin-left: 5%;
    float: left;
}

#right-box {
    margin-right: 5%;
    float: right;
}

#word1, #word2 {
    text-align: center;
    padding: 20px 0;
}

#button-section {
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    /* background-color: lightblue; */
    margin: auto;
    max-width: 600px;
    padding-bottom: 8px;
}

#random-button {
    text-align: center;
    max-height: 25px;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    max-width: 115px;
    max-height: 25px;
    background: #4E9CAF;
    text-align: center;
    border-radius: 5px;
    color: antiquewhite;
    font-weight: bold;
    line-height: 25px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 1em;
    padding: 0px;
    border-top: #c8e7f2 solid 2px;
    border-left: #c8e7f2 solid 2px;
    border-bottom: solid #7798b1;
    border-right: solid #7798b1;
}