* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: auto;
}

html {
    font-family: sans-serif;
    font-weight: bold;
    background-attachment: fixed;
    height: 100%;
    background: linear-gradient(150deg, antiquewhite, lightblue);
    background-repeat: no-repeat;
    
}

body {
    background-color: lightblue;
    border-bottom: solid #7798b1;
    border-right: solid #7798b1;
    border-left: solid #c8e7f2;
    border-top: solid #c8e7f2;
    max-width: 80vw;
    border-radius: 5px;
}

body, #boxes-container {
    margin-top: 10px;
}

#boxes-container {
    
    max-width: 600px;
    height: 80px;
    max-height: 80%;
    margin: auto;
}

#left-box, #right-box {
    margin: auto;
    margin-top: 10px;
    width: 40%;
    border-radius: 5px;
    height: 55px;
    border-top: solid #7798b1;
    border-left: solid #7798b1;
    border-right: solid #c8e7f2;
    border-bottom: solid #c8e7f2;
    background: linear-gradient(-30deg, #f2f3f4, #c8e7f2);
}

#left-box {
    margin-left: 5%;
    float: left;
}

#right-box {
    margin-right: 5%;
    float: right;
}

#word1, #word2, #gameName {
    text-align: center;
    color: antiquewhite;
    font-weight: bold;
    font-size: large;
    text-shadow:
        -1px -1px 0 #7798b1,
        0   -1px 0 #7798b1,
        1px -1px 0 #3c3b6e,
        1px  0   0 #3c3b6e,
        1px  1px 0 #3c3b6e,
        0    1px 0 #3c3b6e,
        -1px  1px 0 #3c3b6e,
        -1px  0   0 #3c3b6e;
    letter-spacing: 2px;
    padding: 11px;
}

#button-section {
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    margin: auto;
    max-width: 600px;
    padding-bottom: 8px;
    padding-top: 58px;
}

#random-button, .button {
    text-align: center;
    max-height: 25px;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    max-width: 115px;
    background: #4E9CAF;
    border-radius: 5px;
    color: antiquewhite;
    line-height: 25px;
    margin: auto;
    line-height: 1em;
    border-top: #c8e7f2 solid 2px;
    border-left: #c8e7f2 solid 2px;
    border-bottom: solid #7798b1;
    border-right: solid #7798b1;
}

@media screen and (max-width:600px) {
    #word1, #word2 {
        font-size: small;
        vertical-align: middle;
        padding: 13px;
    }
    
}

@media screen and (max-width:480px) {
    #word1, #word2 {
        font-size:x-small;
        padding: 15px;
    }
    
}